
nav li{
    padding: 12px;

}

.skip{
    display: hidden;
}



.active{
    background-color: #E5CCFF;
    font-weight: bold;
    border: 5px solid #4C0099;
}


.page{
    background-color: #CCCCFF;
    font-family:'Raleway', serif;
    display: block;

}

img{
    border: solid #FFCCFF 5px;
    padding: 3px;
    margin: 2px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;

}

header{
    font-weight: bold;

}


h1{
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-size: 24px;
    margin: 12px 0;
    
}



img:hover:nth-child(2n){
    filter:sepia();
    border: solid; 
 } 

 footer{
     background-color: #E5CCFF;
     padding: 32px 8px;
 }

 body{
    background-image:  url("../images/marbleback.jpg");
 }

 a.skip {
    font-family: cursive;
    text-decoration: none;
 }

 /*
 img:nth-last-child(2n){
    animation: move 5s ease;
}
*/


h1{
    animation: move 5s ease;
}
 @keyframes move {
    from {width: 500px; opacity: 0;}
    to {width: 500px; opacity: 1;}
  }

  @media screen and (prefers-reduced-motion: reduce){
    h1{
        animation:none;
    }
  }